<div class="main">
  <app-button-toggle
    [check]="isEditMode"
    (onCheckChanged)="isEditMode = !isEditMode"
  ></app-button-toggle>
  <div class="tablero" #tablero>
    <div *ngIf="isEditMode" class="grid-overlay"></div>
    <div
      *ngFor="let pieza of this.players"
      class="pieza"
      cdkDrag
      [cdkDragDisabled]="!isEditMode"
      [cdkDragBoundary]="tablero"
      [cdkDragFreeDragPosition]="{ x: pieza.rol.x, y: pieza.rol.y }"
      (cdkDragEnded)="onDragEnded($event, pieza)"
    >
      <span class="name">{{ pieza.name }}</span>
      <img
        class="circle-img"
        src="../../../assets/img/roles/{{ pieza.rol.img }}.png"
      />
    </div>
  </div>
</div>
