<!-- <div class="main">
  <div class="accordion" *ngFor="let section of sections">
    <div class="accordion-header" (click)="toggleSection(section)">
      {{ section.name }}
    </div>
    <div
      class="accordion-content"
      [class.opened]="section.opened"
      *ngIf="singletonService.players.length || section.name !== 'Grimorio'"
    >
      <ng-container
        *ngComponentOutlet="componenteMap[section.name]"
      ></ng-container>
    </div>
  </div>
</div> -->

<div class="main">
  <div class="accordion" *ngFor="let section of singletonService.sections">
    <div
      class="accordion-header"
      (click)="toggleSection(section)"
      [class.disabled]="isDisabled(section)"
    >
      {{ section.name }}
      <span *ngIf="section.completed" class="check">✔</span>
    </div>

    <div
      class="accordion-content"
      [class.opened]="section.opened"
      *ngIf="section.opened"
    >
      <ng-container
        *ngComponentOutlet="componenteMap[section.name]"
      ></ng-container>
    </div>
  </div>
</div>
